.qm-form {
    &-row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -4px;
        margin-right: -4px;
    }

    &-column {
        &-6 {
            padding-left: 4px;
            padding-right: 4px;
            flex: 0 0 50%;
            max-width: 50%;
            width: 100%;
            position: relative;
        }

        &-12 {
            padding-left: 4px;
            padding-right: 4px;
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
            position: relative;
        }
    }

    &-actions {
        margin-top: rem(32px);

        &--large-margin-top {
            margin-top: rem(60px);
        }
    }
}

.qm-field-error {
    border-color: $primary-color !important;
    outline-color: $primary-color !important;
}

.qm-form-field {
    position: relative;
    margin-bottom: rem($global-standard-margin * 2);

    @at-root [dir='rtl'] & {
        text-align: right;
    }

    &--flex {
        display: flex;
        width: 100%;
        display: flex;
        margin-left: rem(-$global-standard-margin / 4);
        margin-right: rem(-$global-standard-margin / 4);
        flex-wrap: wrap;

        .qm-form-field__input-container {
            padding-left: rem($global-standard-margin / 4);
            padding-right: rem($global-standard-margin / 4);
        }

        .qm-form-field__label {
            white-space: nowrap;
        }
    }

    &--dob {
        .qm-form-field__input-container {
            input {
                text-align: center;
                padding: rem(10px $global-standard-padding / 2 10px) !important;
            }

            .active-result:first-child {
                color: $dark-transparent42;
                font-weight: $font-weight-light;
            }
        }
    }

    &__textarea {
        width: 100%;
        max-width: 467px;
        border: 0;
        border-bottom: 1px solid $input-border-color;
        padding-right: 40px;
        resize: none;
        line-height: 1;

        &:focus {
            outline: 0;
            border-bottom: 1px solid $dark-transparent82;

            & + .qm-form-field__icon {
                color: $dark-transparent82;
            }
        }
    }

    &__headline {
        color: $dark-transparent42;
        font-weight: $font-weight-medium;
        margin-bottom: rem($global-standard-margin / 2);

        @at-root [dir='rtl'] & {
            text-align: right;
        }
    }

    &__label {
        font-size: rem(14px);
        color: $dark-transparent62;
        margin-bottom: 0;

        &--with-req {
            flex: 1 1 50%;
        }
    }

    &__block-label {
        display: inline-block;
    }

    &__input-container {
        width: 100%;
        position: relative;

        input {
            padding: rem(10px 32px 10px $global-standard-padding / 2);

            @at-root [dir='rtl'] & {
                padding: rem(10px $global-standard-padding / 2 10px 32px);
            }
        }

        select {
            width: 100%;
        }

        &--month {
            flex: 0 0 150px;

            .chosen-results {
                max-height: rem(168px);
            }
        }

        &--day {
            flex: 0 0 58px;
        }

        &--year {
            flex: 0 0 86px;
        }
    }

    &__clear-btn {
        display: none;
        position: absolute;
        right: rem(8px);
        top: 50%;
        transform: translateY(-50%);
        color: $dark-transparent42;

        &:hover,
        &:focus {
            color: $dark-transparent62;
        }

        .qm-action-btn__icon {
            font-size: rem(18px);
        }

        @at-root [dir='rtl'] & {
            right: auto;
            left: rem(8px);
        }
    }

    &__required-text {
        flex: 0 0 auto;
        font-size: rem(12px);
        align-self: flex-end;
        color: $secondary-color;
    }

    &__text-input {
        width: 100%;
        font-size: rem(18px);
        line-height: 1;
        padding: rem(10px $global-standard-padding / 2);
        border: 1px solid rgba(0,0,0,0.12);
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.04);
        font-weight: $font-weight-light;
    }

    &__icon {
        position: absolute;
        right: 0;
        top: 0;
        height: 22px;
        width: 22px;
        font-size: rem(22px);
        color: $input-border-color;
    }
}

.qm-fieldset {

}

.qm-legend {
    position: relative;
    font-size: rem(18px);
    font-weight: $font-weight-medium;
    color: $dark-transparent42;
    text-align: center;
    
    &:before {
        content: "";
        border-top: 1px solid $dark-transparent12;
        position: absolute;
        top: 50%;
        display: block;
        left: 0;
        right: 0;
        transform: translateY(-50%);
    }

    &__text {
        background: $white;
        padding: rem(0 $global-standard-padding / 2);
        position: relative;
    }
}

.qm-search-input {
    width: 100%;
    font-size: rem(18px);
    line-height: 1;
    padding: rem(10px 40px 10px $global-standard-padding / 2);
    border: 1px solid $dark-transparent12;
    box-shadow: 0 0 4px 0 $dark-transparent04;
    font-weight: $font-weight-light;

    @at-root [dir='rtl'] & {
        padding: rem(10px $global-standard-padding / 2 10px 40px);
    }

    &__icon {
        position: absolute;
        font-size: rem(28px);
        color: $dark-transparent42;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);

        @at-root [dir='rtl'] & {
            right: auto;
            left: 10px;
        }
    }
}
