#outcome_61, #outcome_62, #outcome_63, #outcome_64, #outcome_74, #outcome_75, #outcome_76, #outcome_77, #outcome_78, #outcome_79, #outcome_80, #outcome_81, #outcome_82, #outcome_83,#outcome_84 {
	background-color: #003093;
	color: #ffffff;
}

#outcome_65, #outcome_66, #outcome_67, #outcome_68 {
	background-color: #3e3e3e;
	color: #ffffff;
}

#outcome_96, #outcome_97 {
	background-color: #426ebd;
	color: #ffffff;
}

#outcome_70, #outcome_71 {
	background-color: #507d32;
	color: #ffffff;
}

#outcome_59, #outcome_60 {
	background-color: #5895cd;
	color: #ffffff;
}

#outcome_50, #outcome_51 {
	background-color: #6c2e9b;
	color: #ffffff;
}

#outcome_85, #outcome_86, #outcome_87, #outcome_88, #outcome_89, #outcome_90, #outcome_91, #outcome_92 {
	background-color: #d1d1d1;
	color: #000000;
}

#outcome_94, #outcome_95 {
	background-color: #e5782e;
	color: #ffffff;
}

#outcome_52, #outcome_53, #outcome_54, #outcome_55, #outcome_56, #outcome_57, #outcome_58, #outcome_69, #outcome_72, #outcome_73, #outcome_93 {
	background-color: #f70000;
	color: #ffffff;
}

#outcome_98, #outcome_99, #outcome_100, #outcome_101, #outcome_102, #outcome_103 {
	background-color: #f7b900;
	color: #ffffff;
}

.iflow_button{
	 background: #e2007a;
	 border: 0;
	 color: white;
	 cursor: pointer;
	 font-size: 20px;
	 text-decoration: none;
	 width: 30px;
	 height: 30px;
	 border-radius: 50%;
	 margin-left: 10px;
	 vertical-align: middle;

 }
.iflow_button:hover, .iflow_button:focus {
	font-weight: 500;
	background: #e2007a;
	text-decoration: none;
}


.iflow_special_code_panel{
	line-height: 30px;
	display: block;
}

.iflow_checkbox{
	width: 20px;
	height: 20px;
	padding: 0;
	vertical-align: middle;
	position: relative;
	top: -1px;
	*overflow: hidden;
	margin-left: 10px;
}

