{% extends "partials/card/scroll-card.nunjucks" %}

{% block id %}id="editCustomerCard"{% endblock %}
{% block cardModifier %}qm-card--more-than-one{% endblock %}

{% block header %}
    <header class="qm-card__header-section">
        {{cardNav.render('editCustomerLabel')}}
    </header>
{% endblock %}

{% block content %}
    <div class="qm-card__content-section">
        <div class="qm-customer">
            <div class="qm-customer__detail-container">
                <!-- Customer details -->
                <form id="editAttachedCustomerForm" action="" class="js-edit-customer-form" novalidate>
                    <fieldset class="qm-fieldset">
                        <legend class="qm-legend sr-only">
                            <span class="qm-legend__text js-legend-customer-details"></span>
                        </legend>
                        <div class="qm-form-row">
                            <div class="qm-form-column-6">
                                <div class="qm-form-field">
                                    <div class="qm-generic-layout qm-generic-layout--space-between">
                                        <label for="editAttachedfirstName" class="qm-form-field__label qm-form-field__label--with-req js-label-firstName"></label>
                                        <span class="qm-form-field__required-text js-label-required"></span>
                                    </div>
                                    <div class="qm-form-field__input-container">
                                        <input id="editAttachedfirstName" class="qm-form-field__text-input" type="text" name="firstName" maxlength="50" required />
                                        <button type="button" class="qm-action-btn qm-action-btn--only-icon qm-form-field__clear-btn js-clear-field">
                                            <i class="qm-action-btn__icon icon-close" aria-hidden="true"></i>
                                            <span class="sr-only"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="qm-form-column-6">
                                <div class="qm-form-field">
                                    <div class="qm-generic-layout qm-generic-layout--space-between">
                                        <label for="editAttachedlastName" class="qm-form-field__label qm-form-field__label--with-req js-label-lastName"></label>
                                        <span class="qm-form-field__required-text js-label-required"></span>
                                    </div>
                                    <div class="qm-form-field__input-container">
                                        <input id="editAttachedlastName" class="qm-form-field__text-input" type="text" name="lastName" maxlength="50" required />
                                        <button type="button" class="qm-action-btn qm-action-btn--only-icon qm-form-field__clear-btn js-clear-field">
                                            <i class="qm-action-btn__icon icon-close" aria-hidden="true"></i>
                                            <span class="sr-only"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="qm-form-row">
                            <div class="qm-form-column-12">
                                <div class="qm-form-field">
                                    <label for="editAttachedemail" class="qm-form-field__label js-label-email"></label>
                                    <div class="qm-form-field__input-container">
                                        <input id="editAttachedemail" class="qm-form-field__text-input" type="email" name="email"/>
                                        <button type="button" class="qm-action-btn qm-action-btn--only-icon qm-form-field__clear-btn js-clear-field">
                                            <i class="qm-action-btn__icon icon-close" aria-hidden="true"></i>
                                            <span class="sr-only"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="qm-form-row">
                            <div class="qm-form-column-6">
                                <div class="qm-form-field">
                                    <label for="editAttachedphoneNumber" class="qm-form-field__label js-label-phone"></label>
                                    <div class="qm-form-field__input-container">
                                        <input id="editAttachedphoneNumber" class="qm-form-field__text-input" type="tel" name="phoneNumber" />
                                        <button type="button" class="qm-action-btn qm-action-btn--only-icon qm-form-field__clear-btn js-clear-field">
                                            <i class="qm-action-btn__icon icon-close" aria-hidden="true"></i>
                                            <span class="sr-only"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="qm-form-row">
                            <div class="qm-form-column-12">
                                <p class="qm-form-field__headline js-label-dob"></p>
                                <div class="qm-form-field qm-form-field--flex qm-form-field--dob">
                                    <div class="qm-form-field__input-container qm-form-field__input-container--month">
                                        <div class="qm-drop-down__component">
                                            <label for="editAttacheddateOfBirthMonth" class="qm-form-field__label js-label-month"></label>
                                            <select id="editAttacheddateOfBirthMonth" class="qm-date-select" dob dobmonth name="dobMonth">
                                                <option value="-1"></option>
                                            </select>
                                        </div>
                                        <div class="qm-drop-down__error invisible-on-load" id="editDobMonthErrorMsg">
                                                
                                        </div>
                                    </div>
                                    <div class="qm-form-field__input-container qm-form-field__input-container--day">
                                        <label for="editAttacheddateOfBirthDay" class="qm-form-field__label">
                                            <span class="js-label-day"></span>
                                            <span class="qm-form-field__block-label js-label-day-placeholder"></span>
                                        </label>
                                        <input id="editAttacheddateOfBirthDay" class="qm-form-field__text-input" type="text" dob dobday name="dobDay" />
                                    </div>
                                    <div class="qm-form-field__input-container qm-form-field__input-container--year">
                                        <label for="editAttacheddateOfBirthYear" class="qm-form-field__label">
                                            <span class="js-label-year"></span>
                                            <span class="qm-form-field__block-label js-label-year-placeholder"></span>
                                        </label>
                                        <input id="editAttacheddateOfBirthYear" class="qm-form-field__text-input" type="text" dob dobyear name="dobYear" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="qm-form-actions qm-form-actions--large-margin-top">
                            <div class="qm-generic-layout qm-generic-layout--align-right">
                                <button type="button" class="qm-btn qm-btn--secondary js-cancel-btn" onclick="event.preventDefault();cardNavigationController.pop();this.blur();">
                                    <span class="qm-action-btn__text"></span>
                                </button>
                                <button type="submit" class="qm-btn qm-btn--primary js-update-customer-save" save-btn onclick="customer.editAttachedCustomer(event);this.blur();">
                                    <span class="qm-action-btn__text"></span>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
