// Font-weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-family: Helvetica, Arial, sans-serif;		/* 'Roboto' */

html,
body {
    font-size: 14px !important;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
}

h1 {
    color: $h1-color;
}

@media screen and (min-width: #{map-get($grid-breakpoints, 'lg')}) {
    html,
    body {
        font-size: 16px !important;
    }
}